##
##	Code:Blocks project files
##
/*.cbp
/*.layout

##
## General
##

# per-directory ignores
.gitignore
!/.gitignore

# External SVN repositories
.svn

##
## Developer files
##

CrashDump*.txt

/Client/*.log
/Client/logs/
/Client/data/cache/
/Client/Mapper/*.log
/Client/*cfg.bak

/Mapper/*.log
/Tools/DialogEditor/DialogEditor.log
/Tools/WorldEditor/*.log
/Client/clientlogs/*.log


/Server/config/**/*.bak
/Server/dumps/
/Server/logs/
/Server/maps/**/*.fomapb
/Server/save/
/Server/scripts/**/*.fosb
/Server/scripts/**/*.fosp
/Server/cache_fail

/Tools/WorldEditor/Cache.dat
/Tools/WorldEditor/WorldEditor.user.cfg

.vs
*.opensdf
*.sdf
*.suo
*.vcxproj.user


##
##	CodeBlocks project files
##
FOnline-BraveNewWorld.layout
FOnline-BraveNewWorld.cbp